
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>View sem Layout</h1>
        <a href="https://localhost:44366/Home/Index">Menu</a>
    </div>
</body>
</html>
